/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/
h1.title-section img{
    top: 44px;
}


/*------------------------------------------------------------------------------
 - ESTILO QUE ESTAN EN EL "HEADER"
 -----------------------------------------------------------------------------*/

/* MENU
 -----------------------------------------------------------------------------*/
ul.menu li.current .adorno{
    width:38px !important;
}

/*------------------------------------------------------------------------------
 - ESTILO PARA EL LOGIN
 -----------------------------------------------------------------------------*/
.contlogin .error{
    margin-top: -20px;
    margin-bottom: -10px;
}
