/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }
/* -------------------------------------------------------------- 

   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body { 
  font-size: 75%;
  color: #A62D38;
  background: #4C1920 url(../../images/bg.jpg) left top;
  font-family: Garamond, "Minion Web", "ITC Stone Serif", "MS Georgia", "Bitstream Cyberbi";
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #A62D38; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 170%; margin-bottom: 0.75em; font-weight: normal;}
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #000; }
a           { color: #A62D38; text-decoration: none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre 				{ margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th 		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0 !important; padding-right:0 !important; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
/* --------------------------------------------------------------
   grid.css - mirror version of src/grid.css
-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 897px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(grid.png); 
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
  float: left;
  margin-right: 15px;
}

/* The last column in a row needs this class. */
.last, div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 23px; }
.span-2  { width: 61px; }
.span-3  { width: 99px; }
.span-4  { width: 137px; }
.span-5  { width: 175px; }
.span-6  { width: 213px; }
.span-7  { width: 251px; }
.span-8  { width: 289px; }
.span-9  { width: 327px; }
.span-10  { width: 365px; }
.span-11  { width: 403px; }
.span-12  { width: 441px; }
.span-13  { width: 479px; }
.span-14  { width: 517px; }
.span-15  { width: 555px; }
.span-16  { width: 593px; }
.span-17  { width: 631px; }
.span-18  { width: 669px; }
.span-19  { width: 707px; }
.span-20  { width: 745px; }
.span-21  { width: 783px; }
.span-22  { width: 821px; }
.span-23  { width: 859px; }
.span-24  { width: 897px; margin-right: 0; }

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {
  border-left-width: 1px!important;
  border-right-width: 1px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

input.span-1, textarea.span-1 { width: 11px!important; }
input.span-2, textarea.span-2 { width: 49px!important; }
input.span-3, textarea.span-3 { width: 87px!important; }
input.span-4, textarea.span-4 { width: 125px!important; }
input.span-5, textarea.span-5 { width: 163px!important; }
input.span-6, textarea.span-6 { width: 201px!important; }
input.span-7, textarea.span-7 { width: 239px!important; }
input.span-8, textarea.span-8 { width: 277px!important; }
input.span-9, textarea.span-9 { width: 315px!important; }
input.span-10, textarea.span-10 { width: 353px!important; }
input.span-11, textarea.span-11 { width: 391px!important; }
input.span-12, textarea.span-12 { width: 429px!important; }
input.span-13, textarea.span-13 { width: 467px!important; }
input.span-14, textarea.span-14 { width: 505px!important; }
input.span-15, textarea.span-15 { width: 543px!important; }
input.span-16, textarea.span-16 { width: 581px!important; }
input.span-17, textarea.span-17 { width: 619px!important; }
input.span-18, textarea.span-18 { width: 657px!important; }
input.span-19, textarea.span-19 { width: 695px!important; }
input.span-20, textarea.span-20 { width: 733px!important; }
input.span-21, textarea.span-21 { width: 771px!important; }
input.span-22, textarea.span-22 { width: 809px!important; }
input.span-23, textarea.span-23 { width: 847px!important; }
input.span-24, textarea.span-24 { width: 885px!important; }

/* Add these to a column to append empty cols. */

.append-1  { padding-right: 38px; } 
.append-2  { padding-right: 76px; } 
.append-3  { padding-right: 114px; } 
.append-4  { padding-right: 152px; } 
.append-5  { padding-right: 190px; } 
.append-6  { padding-right: 228px; } 
.append-7  { padding-right: 266px; } 
.append-8  { padding-right: 304px; } 
.append-9  { padding-right: 342px; } 
.append-10  { padding-right: 380px; } 
.append-11  { padding-right: 418px; } 
.append-12  { padding-right: 456px; } 
.append-13  { padding-right: 494px; } 
.append-14  { padding-right: 532px; } 
.append-15  { padding-right: 570px; } 
.append-16  { padding-right: 608px; } 
.append-17  { padding-right: 646px; } 
.append-18  { padding-right: 684px; } 
.append-19  { padding-right: 722px; } 
.append-20  { padding-right: 760px; } 
.append-21  { padding-right: 798px; } 
.append-22  { padding-right: 836px; } 
.append-23  { padding-right: 874px; } 

/* Add these to a column to prepend empty cols. */

.prepend-1  { padding-left: 38px; } 
.prepend-2  { padding-left: 76px; } 
.prepend-3  { padding-left: 114px; } 
.prepend-4  { padding-left: 152px; } 
.prepend-5  { padding-left: 190px; } 
.prepend-6  { padding-left: 228px; } 
.prepend-7  { padding-left: 266px; } 
.prepend-8  { padding-left: 304px; } 
.prepend-9  { padding-left: 342px; } 
.prepend-10  { padding-left: 380px; } 
.prepend-11  { padding-left: 418px; } 
.prepend-12  { padding-left: 456px; } 
.prepend-13  { padding-left: 494px; } 
.prepend-14  { padding-left: 532px; } 
.prepend-15  { padding-left: 570px; } 
.prepend-16  { padding-left: 608px; } 
.prepend-17  { padding-left: 646px; } 
.prepend-18  { padding-left: 684px; } 
.prepend-19  { padding-left: 722px; } 
.prepend-20  { padding-left: 760px; } 
.prepend-21  { padding-left: 798px; } 
.prepend-22  { padding-left: 836px; } 
.prepend-23  { padding-left: 874px; } 


/* Border on right hand side of a column. */
div.border {
  padding-right: 6px;
  margin-right: 8px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 25px;
  margin-right: 27px;
  border-right: 1px solid #eee;
}


/* Use these classes on an element to push it into the 
next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -38px; }
.pull-2 { margin-left: -76px; }
.pull-3 { margin-left: -114px; }
.pull-4 { margin-left: -152px; }
.pull-5 { margin-left: -190px; }
.pull-6 { margin-left: -228px; }
.pull-7 { margin-left: -266px; }
.pull-8 { margin-left: -304px; }
.pull-9 { margin-left: -342px; }
.pull-10 { margin-left: -380px; }
.pull-11 { margin-left: -418px; }
.pull-12 { margin-left: -456px; }
.pull-13 { margin-left: -494px; }
.pull-14 { margin-left: -532px; }
.pull-15 { margin-left: -570px; }
.pull-16 { margin-left: -608px; }
.pull-17 { margin-left: -646px; }
.pull-18 { margin-left: -684px; }
.pull-19 { margin-left: -722px; }
.pull-20 { margin-left: -760px; }
.pull-21 { margin-left: -798px; }
.pull-22 { margin-left: -836px; }
.pull-23 { margin-left: -874px; }
.pull-24 { margin-left: -912px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float: left; position:relative;}

.push-1 { margin: 0 -38px 1.5em 38px; }
.push-2 { margin: 0 -76px 1.5em 76px; }
.push-3 { margin: 0 -114px 1.5em 114px; }
.push-4 { margin: 0 -152px 1.5em 152px; }
.push-5 { margin: 0 -190px 1.5em 190px; }
.push-6 { margin: 0 -228px 1.5em 228px; }
.push-7 { margin: 0 -266px 1.5em 266px; }
.push-8 { margin: 0 -304px 1.5em 304px; }
.push-9 { margin: 0 -342px 1.5em 342px; }
.push-10 { margin: 0 -380px 1.5em 380px; }
.push-11 { margin: 0 -418px 1.5em 418px; }
.push-12 { margin: 0 -456px 1.5em 456px; }
.push-13 { margin: 0 -494px 1.5em 494px; }
.push-14 { margin: 0 -532px 1.5em 532px; }
.push-15 { margin: 0 -570px 1.5em 570px; }
.push-16 { margin: 0 -608px 1.5em 608px; }
.push-17 { margin: 0 -646px 1.5em 646px; }
.push-18 { margin: 0 -684px 1.5em 684px; }
.push-19 { margin: 0 -722px 1.5em 722px; }
.push-20 { margin: 0 -760px 1.5em 760px; }
.push-21 { margin: 0 -798px 1.5em 798px; }
.push-22 { margin: 0 -836px 1.5em 836px; }
.push-23 { margin: 0 -874px 1.5em 874px; }
.push-24 { margin: 0 -912px 1.5em 912px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float: right; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
.prepend-top { 
  margin-top:1.5em; 
}
.append-bottom { 
  margin-bottom:1.5em; 
}

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  overflow:hidden; 
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
/* -------------------------------------------------------------- 

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)
   
-------------------------------------------------------------- */

label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

/*input[type=text], input[type=password],
input.text, input.title, 
textarea, select { 
  background-color:#fff; 
  border:1px solid #bbb; 
}
input[type=text]:focus, input[type=password]:focus, 
input.text:focus, input.title:focus, 
textarea:focus, select:focus { 
  border-color:#666; 
}*/

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text, 
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio], 
input.checkbox, input.radio { 
  position:relative; top:.25em; 
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
